{% extends "base.html" %}
{% load static %}
{% block title %}
  Welcome to Byte and Bake
{% endblock title %}
{% block content %}
  <script src="https://kit.fontawesome.com/9edf1652d4.js"
          crossorigin="anonymous"></script>
  <div class="container">
    <div class="site-heading">
      <h3 class="site-heading my-4 mt-3 text-blue logo">Hello and Welcome!</h3>
      <div class="text-dark text-justify" style="clear: left;">
        <p>I'm Elisa - full-time coding monkey, part time baker, cook, and all around food enthusiast!</p>
        <p>
          Why did I start this website? Because I want to share my passion for baked goods with the people I love.
          And also prove to myself that I can create a website from scratch. If that sounds like an odd combo, read on to find out more.
        </p>
        <p>
          It all began with the idea of creating my own personal recipe book. Instead of a book, I found a little blue ring binder,
          printed out the recipes I loved the most, and popped them in those plastic pockets. That way I wouldn't mess up a nice book
          with my scribbles - I could add my notes about what worked and what didn’t and just experiment.
        </p>
        <p>
          But I also wanted to share my bakes and recipes with friends and family - provide them with my little blue binder full of sticky notes and scraps of paper.
        </p>
        <p>
          So, the idea of a baking blog popped up. Which brings us to the point where I remember thinking, "I'm a software engineer. I don’t need one of those website builders, I can do this".
          Having never made a website before, I armed myself with tutorials and went off to learn, code and create this space.
        </p>
        <p>
          Yes, this is a work in progress. Yes, it might change over time. But the fact that it works and the content is the most important thing to me right now,
          not how it looks. My nerdy developer friends might be more interested in how the backend works. And I appreciate the help they have given me when building this dream of mine - shout out to Sam!!
        </p>
        <p>
          I've been inspired a lot by talented people on the web. The recipes here are my takes on what I’ve seen that I like. I make them my own, and hope my experiences will inspire you to do the same .
        </p>
        <p>
          My mission for this ‘recipe book’ is for it to be a handy, user friendly resource for anyone that happens to stumble across it.
        </p>
        <p>Come and experiment with me!</p>
        <a href="https://www.instagram.com/elisa.scandellari/"><i class="fa-brands fa-instagram" style="font-size:36px;color:black"></i></a>
        <a href="https://github.com/escandellari"><i class="fa fa-github" style="font-size:36px;color:black"></i></a>
        <a href="https://www.linkedin.com/in/elisascandellari/"><i class="fa-brands fa-linkedin" style="font-size:36px;color:black"></i></a>
      </div>
    </div>
  {% endblock %}
