{% extends "base.html" %}
{% load static %}
{% block title %}
  Welcome to Byte and Bake
{% endblock title %}
{% block content %}
  <script src="https://kit.fontawesome.com/9edf1652d4.js"
          crossorigin="anonymous"></script>
  <div class="container">
    <div class="site-heading">
      <h3 class="site-heading my-4 mt-3 text-blue logo">Hello and Welcome!</h3>
      <div class="text-dark text-justify" style="clear: left;">
        <p>I'm Elisa, a full time coding monkey and part time baker, cook, food enthusiast!</p>
        <p>
          I've started this blog/recipe book because I wanted to share with the people I love, my passion for baked goods. And also prove to myself that I can create a website from scratch.
        </p>
        <p>
          I started with the idea of creating my own recipe book, using a blue binder, printing out the recipes I love the most and pop them in those little plastic pockets.
          This way I wouldn't mess up a nice book, I could add my own comments and just try and experiment a bit more.
        </p>
        <p>
          But I also wanted to share my bakes and recipes with friends and family, and provide them with my little blue book.
          Then the idea of a baking blog popped up and I thought, "I could make that myself, I don't want to use thowse website builders.. I'm a software engineer, I can do this".
          Having never made a website, I armed myself with tutorials and went off to create this.. which is still a work in progress. It might change over time, but the content is important here, not how it's displayed.
          How the backend works is for some of my friends, who know how much I appreciate the help they gave me when building a dream of mine. (Sam, thank you!!!)
        </p>
        <p>
          I want this recipe book to be useful and easy to use for anyone that happens to be around.
          I've been inspired a lot by people I see on the web. My recipes are mainly theirs that I try to make my own
        </p>
        <p>Come and experiment with me!</p>
        <a href="https://github.com/escandellari"><i class="fa fa-github" style="font-size:36px;color:black"></i></a>
        <a href="https://www.instagram.com/elisa.scandellari/"><i class="fa-brands fa-instagram" style="font-size:36px;color:black"></i></a>
      </div>
    </div>
  </div>
{% endblock %}
