{% extends "base.html" %}
{% load static %}
{% block title %}
  Welcome to Byte and Bake
{% endblock title %}
{% block content %}
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class=" col-md-8 col-md-10 mx-auto">
          <div class="site-heading">
            <img src="{% static 'img/banner2.png' %}"
                 class="img-fluid"
                 alt="Responsive image">
            <h3 class=" site-heading my-4 mt-3 text-blue logo">Welcome to Byte and Bake</h3>
            <div style="clear: left;">
              <p>
                <img src="{% static 'img/byteandbakeicon.png' %}"
                     class="img-fluid"
                     alt="Responsive image"
                     style="width: 10%">
              </p>
              <p class="text-dark">
                Join me in the wild adventure of the baking world.
                <br>
                Here you'll find my successes and my failures.
                <br>
                Come and experiment with me!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
