{% extends "base.html" %}
{% block title %}
    Biscuits!!
{% endblock title %}
{% block content %}
    <div class="container">
        <h1>Biscuits</h1>
        <div class="row row-cols-auto">
            <!-- Blog Entries Column -->
            {% for post in post_list %}
                <div class="col-md-6 mt-3 left">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on }}</p>
                            <p class="card-text">{{ post.snippet| slice:150 |safe }}</p>
                            <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More &rarr;</a>
                            <a href="{% url 'edit_recipe' post.slug %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete_recipe' post.slug %}" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                Nothing to show.
            {% endfor %}
        </div>
    </div>
{% endblock content %}
