{% extends "base.html" %}
{% block title %}
  Create a new recipe category
{% endblock title %}
{% block content %}
  <div class="container">
    <br>
    <h1>Add category</h1>
    <br>
    {% if user.is_authenticated %}
      <div class="mb-3">
        <form method='POST'>
          {% csrf_token %}
          {{ form.as_p }}
          <br>
          <button class="btn btn-primary">Add</button>
          <a name="cancel"
             class="btn btn-primary"
             href="javascript:window.history.back()">Cancel</a>
        </form>
      </div>
    {% else %}
      <h1>Please login to add post</h1>
    {% endif %}
  </div>
{% endblock content %}
