{% extends "base.html" %}
{% block title %}
    Edit recipe
{% endblock title %}
{% block content %}
    <div class="container">
        <h1>Edit Recipe</h1>
        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="update" value="Update" />
                <input type="submit" name="cancel" value="Cancel" />
            </form>
        </div>
    </div>
{% endblock content %}
