{% extends "base.html" %}
{% load static %}
{% block title %}
  Welcome to Byte and Bake
{% endblock title %}
{% block content %}
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class=" col-md-8 col-md-10 mx-auto">
          <div class="site-heading">
            <img src="/media/banner2.png" class="img-fluid" alt="Responsive image">
            <h3 class=" site-heading my-4 mt-3 text-blue logo">Welcome to Byte and Bake</h3>
            <p class="text-dark">
              Join me in the wild adventure of the baking world.
              <br>
              Here you'll find my successes and my failures.
              <br>
              Come and experiment with me!
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
