{% extends 'base.html' %}
{% load static %}
{% block title %}
    Recipes
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/world_map.png' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">From Around the World</h5>
                        <p class="card-text">Recreating foods from all over the world, maybe with a twist</p>
                        <a class="btn btn-primary" href="{% url 'category' 'Worldwide' %}">Go</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" style="width: 18rem;">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/bread.png' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Breads</h5>
                            <p class="card-text">The breads that we love and cherish</p>
                            <a class="btn btn-primary" href="{% url 'category' 'Bread' %}">Go</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/cake.png' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Cakes</h5>
                        <p class="card-text">For those occasions where you want to impress, or just fancy one for yourself</p>
                        <a class="btn btn-primary" href="{% url 'category' 'Cakes' %}">Go</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/cookies.png' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Biscuits</h5>
                        <p class="card-text">Because everyone loves a homemade biscuit</p>
                        <a class="btn btn-primary" href="{% url 'category' 'Biscuits' %}">Go</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
