{% extends "base.html" %}
{% block title %}
    Delete recipe
{% endblock title %}
{% block content %}
    <div class="container">
        <br>
        <h1>Delete Recipe</h1>
        <hr>
        {% if user.is_authenticated and user.id == object.author.id %}
            <h3>Delete "{{ object.title }}"</h3>
            <div class="form-group">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h4>Are you sure?</h4>
                    <br>
                    <input type="submit" name="delete" value="Delete" class="btn btn-primary" />
                    <a name="cancel"
                       class="btn btn-primary"
                       href="javascript:window.history.back()">Cancel</a>
                </form>
            </div>
        {% else %}
            <h1>Please login to delete recipe</h1>
        {% endif %}
    </div>
{% endblock content %}
