{% extends "base.html" %}
{% load static %}
{% block title %}
    Recipes
{% endblock title %}
{% block content %}
    <div class="jumbotron jumbotron-fluid crf-hero d-flex"
         style="background-image: url({{ banner }})">
        <div class="container d-flex flex-column justify-content-top align-items-sm-stretch align-items-md-center">
            <h1 class="col-sm-12">{{ category_name | title }}</h1>
        </div>
    </div>
    <hr>
    {% include "recipes/recipe_list.html" %}
{% endblock content %}
