{% load static %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-2 g-0 row-gap-3 column-gap-3 ">
        {% for post in recipe_list %}
            <div class="card" style="max-width: 500px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col mh-100">
                            {% if post.image %}<img src="{{ post.image.url }}" class="img-fluid rounded align-middle">{% endif %}
                        </div>
                        <div class="col">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.snippet| slice:150 |safe }}</p>
                            <a href="{% url 'recipe_detail' post.slug %}" class="btn btn-primary">Read More &rarr;</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">{{ post.author.first_name }} | {{ post.created_on }} | {{ post.category | title }}</div>
            </div>
        {% empty %}
            Coming soon!!
            <a href="{% url 'recipes' %}">
                <button type="button" class="btn btn-primary">Back</button>
            </a>
        {% endfor %}
    </div>
{% endblock content %}
