{% extends 'base.html' %}
{% load static %}
{% block content %}
  <br>
  <h1>Welcome to my stream of consciousness</h1>
  <br>
  <div class="container">
    <!-- Content here -->
    <div class="row">
      <div class="col-5">
        {% for post in object_list %}
          <div class="card mb-3">
            <div class="row align-items-center">
              <div class="col-8">
                <div class="card-body">
                  <h4 class="card-title">{{ post.title }}</h4>
                  <p class="card-text">{{ post.snippet | safe }}</p>
                </div>
              </div>
              <div class="col-2">
                <form action="{% url 'post_preview' post.pk %}" method="POST">
                  {% csrf_token %}
                  <button type="Submit"
                          name="post_id"
                          value="{{ post.id }}"
                          class="btn btn-primary">Read</button>
                </form>
              </div>
            </div>
            <div class="card-footer">
              {{ post.author }} | {{ post.date_published }} | {{ post.category }}
              {% if user.is_authenticated and user.id == post.author.id %}
                | <a href="{% url 'post_edit' post.slug %}">Edit</a>
                | <a href="{% url 'post_delete' post.slug %}">Delete</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col">{% include "blog/post_preview.html" %}</div>
    </div>
  </div>
{% endblock content %}
