{% extends 'base.html' %}
{% load static %}
{% block title %}
  Blog
{% endblock title %}
{% block content %}
  <div class="container">
    <h1>BLOG!!</h1>
    <ul>
      {% for post in object_list %}
        <li>
          {{ post.title }} - {{ post.author }}
          <br>
          {{ post.body |safe }}
        </li>
      {% endfor %}
    </ul>
    {% comment %} <ul>
      {% for post in object_list %}
        <li>
          <a href="{% url 'postDetails' post.pk %}">{{ post.title }}</a> -
          <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a> -
          {{ post.author.first_name }} -
          {{ post.date_published }}
          {% if user.is_authenticated and user.id == post.author.id %}
            <small>
              <a href="{% url 'editPost' post.pk %}">Edit</a> -
              <a href="{% url 'deletePost' post.pk %}">Delete</a>
            </small>
          {% endif %}
          <br>
          {{ post.snippet |safe }}
        </li>
      {% endfor %}
    </ul> {% endcomment %}
  </div>
{% endblock content %}
