{% extends "base.html" %}
{% load static %}
{% block title %}
    Lista
{% endblock title %}
{% block content %}
    <div class="container crf-cigar-banner">
        <div class="crf-cigar-banner--container justify-content-center">
            <h2>{{ category_name | title }}</h2>
            <div class="container">
                <div class="row">
                    {% for post in post_list %}
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}"
                                             style="width: 50%"
                                             class="img-fluid rounded-start">
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <p>{{ object.images.all.0 }}</p>
                                    <div class="card-body">
                                        <h2 class="card-title">{{ post.title }}</h2>
                                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on }}</p>
                                        <p class="card-text">{{ post.snippet| slice:150 |safe }}</p>
                                        <a href="{% url 'ricetta_dettaglio' post.slug %}"
                                           class="btn btn-primary">Read More &rarr;</a>
                                        {% comment %}
                                {% if user.is_authenticated %}
                                    <br>
                                    <a href="{% url 'edit_recipe' post.slug %}">Edit</a>
                                    <a href="{% url 'delete_recipe' post.slug %}">Delete</a>
                                        {% endif %} {% endcomment %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        Nothing to show.
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
