{% extends "base.html" %}
{% block title %}
    Delete recipe
{% endblock title %}
{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <h1>Delete {{ post.title }}</h1>
            <div class="form-group">
                <form action="" method="POST">
                    {% csrf_token %}
                    <strong>Are you sure?</strong>
                    <br>
                    <input type="submit" name="delete" value="Delete" class="btn btn-primary" />
                    <input type="submit"
                           name="cancel"
                           value="Cancel"
                           class="btn btn-primary"
                           onclick="javascript:history.back();" />
                </form>
            </div>
        {% else %}
            <h1>Please login to delete post</h1>
        {% endif %}
    </div>
{% endblock content %}
